.dropdown{
    width: 350px;
}

.dropdownForm{
    margin: 30px 0px !important;
}

.btn {
    margin: 80px 10px;
    padding: 10px;
    width: 200px;
    font-size: 20px;
    text-decoration: none !important;
    font-family: Bold, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    cursor: pointer;
}

.save {
    background-color: #000;
    color: #fff;
}

.teamAllocationRow{
    display: flex;
    flex-direction: column;
}

.teamCards{
    display: flex;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.floorDiv{
    display: flex;
    flex-direction: column;
    margin: 25px auto;
}

.floorButton{
    width: 50%;
    padding: 10px;
    margin: 15px auto;
    color: #fff;
    background-color: black;
    outline: none;
    font-size: 26px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    transition: 0.3s;
    align-items: center;
}

.floorButton:hover {
    box-shadow: 5px 5px 10px #888888;
    width: 85%;
    transition: 0.3s;
}

.floorButton:hover::after{
    box-shadow: 5px 5px 10px #888888;
    width: 90%;
    transition: 0.3s;
}


.zoneDiv {
    display: flex;
    flex-wrap: wrap;
}

.zoneButton {
    width: 200px;
    height: 300px;
    padding: 10px;
    margin: 15px auto;
    color: #fff;
    background-color: skyblue;
    outline: none;
    font-size: 36px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: 0.3s;
    align-items: center;
}

.black{
    background-color: black;
        color: white
}

.orange{
    background-color: orange;
    color: white
}

.green{
    background-color: lightgreen;
    color: white
}

.purple {
    background-color: pink;
    color: white
}

.grey {
    background-color: grey;
    color: white
}

.lightseagreen {
    background-color: lightseagreen !important;
    color: white !important
}

.red {
    background-color: red !important;
    color: white !important
}

.black{
    background-color: #000 !important;
    color: white !important;
}

.zoneButton:hover {
    box-shadow: 5px 5px 10px #888888;
    width: 220px;
    transition: 0.3s;
}

.zoneButton:hover::after {
    box-shadow: 5px 5px 10px #888888;
    width: 90%;
    transition: 0.3s;
}


.seatDiv {
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
}

.seatButton {
    flex-wrap: wrap;
    width: auto;
    height: 50px;
    padding: 10px;
    margin: 5px auto;
    color: #000;
    background-color: lightgray;
    outline: none;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: 0.3s;
    align-items: center;
}

button:disabled,
button[disabled] {
   cursor: not-allowed;
   background-color: darkgray !important;
   color: #fff;
text-decoration: line-through;
}

.selectAny{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 15px auto;
}

.date{
    margin: 10px !important;
}