.homeMain{
    width: 80%;
    margin: 20px auto;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 770px;
}
.headerNameInside{
    text-align: center;
    font-size: 90px;
    font-style: italic;
    /* font-family:'Courier New', Courier, monospace; */
}
.mainContent{
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
}